//-
    Source: calculation/views/general-partial/general-form.jade 
    Project: dep73-calc
    Description: Form view for general data inputs 
    Author: Alexander Tatchin | github.com/sancau

form(
    role="form",
    name="general.generalInfoForm",
    novalidate="novalidate",
    ng-model="generalForm"
)

    lc-string-input(
        required="true",
        label="Наименование изделия",
        input-id="name",
        input-object="general.generalInfoForm.name",
        model="general.formModel.name",
        submitted="general.submitted"
    )

    lc-select-input(
        required="true",
        label="Вид испытаний",
        input-id="type",
        input-object="general.generalInfoForm.type",
        options="general.typeOptions",
        selected-option="general.formModel.type.code",
        submitted="general.submitted"
    )
    
    //- lc-select-input(
    //-     required="true",
    //-     label="Вариант настроек",
    //-     input-id="settings",
    //-     input-object="generalInfoForm.settings",
    //-     options="presetOptions",
    //-     selected-option="formModel.settings.code",
    //-     submitted="submitted"
    //- )

    lc-string-input(
        required="true",
        label="Руководящий документ", 
        input-id="doc", 
        input-object="general.generalInfoForm.doc",
        model="general.formModel.document",
        submitted="general.submitted"
    )

    lc-text-input(
        required="false", 
        label="Комментарий", 
        rows="5", 
        input-id="comment",
        input-object="general.generalInfoForm.comment",
        model="general.formModel.comment",
        submitted="general.submitted"
    )