//-
    Source: calculation/views/climatic-partial/climatic-partial.jade 
    Project: dep73-calc
    Description: Partial view for climatic data inputs 
    Author: Alexander Tatchin | github.com/sancau

#climatic-controls(ng-controller="ClimaticCtrl as climatic")

    #blocks(ng-repeat="block in climatic.blocks")   
        
        //- Form for a block of inputs
        form(role="form", 
             name="block.climaticForm", 
             novalidate="novalidate", 
             ng-model="block.climaticFormModel")
                
            //- Visible only if the block type is already chosen
            #block-verbose-name(ng-hide="!block.data.type")
                h4 {{ climatic.getName($index + 1) }} ({{ block.data.type.name }}) 
                hr
                
            //- Allows user to select type for the block
            #type-selector.form-group
                label(for="type") Вид испытаний
                
                select(ng-model="block.data.type",
                       ng-change="climatic.blockTypeChanged(block)"
                       ng-options="option.name for option in climatic.options track by option.id")
                             
            //- Includes the appropriate form view depending on the block's type
            #form-include(ng-include="climatic.getFormUrl(block.data.type.id)")

        //- Delete block button
        button(ng-click="climatic.delete(block)") Удалить этап
        hr

    //- Submit button
    button(ng-click="climatic.saveChanges()") Сохранить 
    
    //- Clone block button
    button(ng-click="climatic.clone()") Добавить этап
