//-
    Source: calculation/views/general-partial/general-form.jade 
    Project: dep73-calc
    Description: Form view for general data inputs 
    Author: Alexander Tatchin | github.com/sancau

//-General information form
form(
    role="form",
    name="$parent.generalInfoForm",
    novalidate="novalidate",
    ng-model="generalForm"
)

    lc-string-input(
        required="true",
        label="Наименование изделия",
        input-id="name",
        input-object="generalInfoForm.name",
        model="activeCalculation.data.general.name",
        submitted="submitted"
    )

    lc-select-input(
        required="true",
        label="Вид испытаний",
        input-id="type",
        input-object="generalInfoForm.type",
        options="activeCalculation.typeOptions",
        selected-option="activeCalculation.data.general.type.code",
        submitted="submitted"
    )

    lc-select-input(
        required="true",
        label="Вариант настроек",
        input-id="settings",
        input-object="generalInfoForm.settings",
        options="presetOptions",
        selected-option="activeCalculation.data.general.settings.code",
        submitted="submitted"
    )

    lc-string-input(
        required="true",
        label="Руководящий документ", 
        input-id="doc", 
        input-object="generalInfoForm.doc",
        model="activeCalculation.data.general.document",
        submitted="submitted"
    )

    lc-text-input(
        required="true", 
        label="Комментарий", 
        rows="5", 
        input-id="comment",
        input-object="generalInfoForm.comment",
        model="activeCalculation.data.general.comment",
        submitted="submitted"
    )