//-
    Source: calculation/views/calculation-view.jade 
    Project: dep73-calc
    Description: View for the calculation module / state: calculation 
    Author: Alexander Tatchin | github.com/sancau

//- Calculation status section
section#status-panel(
    sticky-nav="ng-sticky-behaviour",
    ignore-element-size,
)
    div(ng-controller="StatusCtrl")
        h4 Информация о расчёте
        pre {{ activeCalculation.name }}

//- Calculation data inputs section
section#forms-panel

    //- Accordion
    uib-accordion(close-others="true")

        //- General information inputs host
        uib-accordion-group(
            heading="Общая информация",
            is-open="generalOpen",
            is-disabled="generalDisabled"
        )
            #general-partial(
                ng-controller="GeneralCtrl"
            )
                #general-form(
                    ng-include="'calculation/views/general-partial/general-form.jade'"
                )

                pre {{ activeCalculation.name }} 
                
                //- Save general info changes (logic on GeneralCrtl)
                button(ng-click="saveChanges()") {{ saveChangesButtonContent }}
        
        //- Climatic information inputs host
        uib-accordion-group(
            heading="Климатические испытания",
            is-open="climaticOpen",
            is-disabled="climaticDisabled"
        )
            #climatic-partial(
                ng-include="'calculation/views/climatic-partial/climatic-partial.jade'"
            )
        
        //- Mechanical tests | NOT IMPLEMENTED  
        //- uib-accordion-group(
        //-     heading="Механические испытания",
        //-     is-open="mechanicalOpen",
        //-     is-disabled="mechanicalDisabled"
        //- )
        //-     p Форма для механических испытаний