//-
    Source: calculation/views/climatic-partials/sub-partials/humidity-form.jade 
    Project: dep73-calc
    Description: The form for humidity test calculation 
    Author: Alexander Tatchin | github.com/sancau

.humidity

    lc-string-input(
        required="true",
        label="Пункт требований ТУ или программы",
        input-id="documentItem",
        input-object="block.climaticForm.documentItem",
        model="block.data.values.documentItem",
        submitted="climatic.submitted"
    )
    
    lc-text-input(
        required="false", 
        label="Комментарий", 
        rows="2", 
        input-id="phaseComment",
        input-object="block.climaticForm.phaseComment",
        model="block.data.values.phaseComment",
        submitted="climatic.submitted"
    )  

    lc-numeric-input(
        required="true",
        label="Время выдержки",
        min="0",
        step="0.25",    
        input-id="humTime",
        input-object="block.climaticForm.humTime",
        model="block.data.values.humTime",
        submitted="climatic.submitted"
    )