//-
    Source: calculation/views/climatic-partials/sub-partials/operation-form.jade 
    Project: dep73-calc
    Description: The form for a tech operation info
    Author: Alexander Tatchin | github.com/sancau

.operation

    lc-string-input(
        required="true",
        label="Пункт требований ТУ или программы",
        input-id="documentItem",
        input-object="block.climaticForm.documentItem",
        model="block.data.values.documentItem",
        submitted="climatic.submitted"
    )

    lc-text-input(
        required="true", 
        label="Комментарий", 
        rows="2", 
        input-id="phaseComment",
        input-object="block.climaticForm.phaseComment",
        model="block.data.values.phaseComment",
        submitted="climatic.submitted"
    )  
    
    lc-numeric-input(
        required="true",
        label="Время на проверку (часов)",
        min="0",
        step="0.25",    
        input-id="operationTime",
        input-object="block.climaticForm.operationTime",
        model="block.data.values.operationTime",
        submitted="climatic.submitted"
    )