//-
    Source: calculation/views/climatic-partials/sub-partials/operation-form.jade 
    Project: dep73-calc
    Description: The form for a tech operation info
    Author: Alexander Tatchin | github.com/sancau

.operation

    lc-string-input(
        required="true",
        label="Описание операции (кратко)",
        input-id="operationDescription",
        input-object="block.climaticForm.operationDescription",
        model="block.data.values.operationDescription",
        submitted="climatic.submitted"
    )
    
    lc-numeric-input(
        required="true",
        label="Время на операцию (часов)",
        min="0",
        step="0.25",    
        input-id="operationTime",
        input-object="block.climaticForm.operationTime",
        model="block.data.values.operationTime",
        submitted="climatic.submitted"
    )