//-
    Source: calculation/views/climatic-partials/sub-partials/temperature-form.jade 
    Project: dep73-calc
    Description: The form for humidity test calculation 
    Author: Alexander Tatchin | github.com/sancau

.temperature
    
    lc-string-input(
        required="true",
        label="Пункт требований ТУ или программы",
        input-id="documentItem",
        input-object="block.climaticForm.documentItem",
        model="block.data.values.documentItem",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Рабочая температура 1",
        min="-70",
        max="180",
        step="1",    
        input-id="workTemp",
        input-object="block.climaticForm.workTemp",
        model="block.data.values.workTemp",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество часов (рабочая температура 1)",
        min="0",
        step="0.1", 
        input-id="workTime",
        input-object="block.climaticForm.workTime",
        model="block.data.values.workTime",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Рабочая температура 2",
        min="-70",
        max="180",
        step="1",    
        input-id="workTemp2",
        input-object="block.climaticForm.workTemp2",
        model="block.data.values.workTemp2",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество часов (рабочая температура 2)",
        min="0",
        step="0.1", 
        input-id="workTime2",
        input-object="block.climaticForm.workTime2",
        model="block.data.values.workTime2",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Предельная температура",
        min="-70",
        max="180",
        step="1",   
        input-id="edgeTemp",
        input-object="block.climaticForm.edgeTemp",
        model="block.data.values.edgeTemp",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество часов (предельная температура)",
        min="0",
        step="0.1", 
        input-id="edgeTime",
        input-object="block.climaticForm.edgeTime",
        model="block.data.values.edgeTime",
        submitted="climatic.submitted"
    )
