//-
    Source: calculation/views/climatic-partials/sub-partials/temperature-change-form.jade 
    Project: dep73-calc
    Description: A form for temperature change tests
    Author: Alexander Tatchin | github.com/sancau

.temperatureChange

    lc-string-input(
        required="true",
        label="Пункт требований ТУ или программы",
        input-id="documentItem",
        input-object="block.climaticForm.documentItem",
        model="block.data.values.documentItem",
        submitted="climatic.submitted"
    )

    lc-text-input(
        required="false", 
        label="Комментарий", 
        rows="2", 
        input-id="phaseComment",
        input-object="block.climaticForm.phaseComment",
        model="block.data.values.phaseComment",
        submitted="climatic.submitted"
    )  

    lc-numeric-input(
        required="true",
        label="Предельная пониженная",
        min="-70",
        max="180",
        step="1",    
        input-id="negativeEdge",
        input-object="block.climaticForm.negativeEdge",
        model="block.data.values.negativeEdge",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Предельная повышенная",
        min="-70",
        max="180",
        step="1",    
        input-id="positiveEdge",
        input-object="block.climaticForm.positiveEdge",
        model="block.data.values.positiveEdge",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Время выдержки на полке",
        min="0",
        step="0.1", 
        input-id="staying",
        input-object="block.climaticForm.staying",
        model="block.data.values.staying",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество циклов",
        min="0",
        step="1", 
        input-id="laps",
        input-object="block.climaticForm.laps",
        model="block.data.values.laps",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Время выдержки в НКУ",
        min="0",
        step="0.25",    
        input-id="nkuTime",
        input-object="block.climaticForm.nkuTime",
        model="block.data.values.nkuTime",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Общее время проверок",
        min="0",
        step="0.25",    
        input-id="checksTime",
        input-object="block.climaticForm.checksTime",
        model="block.data.values.checksTime",
        submitted="climatic.submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество закладок",
        min="1",
        step="1",    
        input-id="iterations",
        input-object="block.climaticForm.iterations",
        model="block.data.values.iterations",
        submitted="climatic.submitted"
    )
