//-
    Source: directives/lc-string-input/lc-string-input-view.jade 
    Project: dep73-calc
    Description: lc-string-input directive view
    Author: Alexander Tatchin | github.com/sancau

.form-group(
    ng-class!="{ 'has-error': !inputObject.$valid && (!inputObject.$pristine || submitted), \
                'has-success': inputObject.$valid && !inputObject.$pristine }"
)

    label.control-label(for="{{ inputId }}") {{ label }}
        
    input.form-control(
        type="{{ forPassword ? 'password' : 'text' }}",
        id="{{ inputId }}",
        name="{{ inputId }}",
        ng-model="model",
        ng-required="required"
    )
    
    p.help-block(
        ng-show!="inputObject.$error.required && (!inputObject.$pristine || submitted)"
    )   Это поле не может быть пустым