//-
    Source: directives/lc-numeric-input/lc-numeric-input-view.jade 
    Project: dep73-calc
    Description: lc-numeric-input directive view
    Author: Alexander Tatchin | github.com/sancau

.form-group(
    ng-class!="{'has-error': !inputObject.$valid && (!inputObject.$pristine || submitted), \
               'has-success': inputObject.$valid && !inputObject.$pristine}" 
)

    label.control-label(for="{{ inputId }}") {{ label }}
    
    input.form-control(
        type="number",
        id="{{ inputId }}",
        name="{{ inputId }}",
        value="{{ value }}",
        min="{{ min }}", 
        max="{{ max }}",
        step="{{ step }}",
        ng-model="modelData",
        ng-required="required"
    )

    p.help-block(
        ng-show!="inputObject.$error.required && (!inputObject.$pristine || submitted)"
    ) Это поле не может быть пустым

    p.help-block(
        ng-show!="inputObject.$error.min && (!inputObject.$pristine || submitted)"
    ) Значение не может быть меньше {{ min }}

    p.help-block(
        ng-show!="inputObject.$error.max && (!inputObject.$pristine || submitted)"
    ) Значение не может быть больше {{ max }}

    p.help-block(
        ng-show!="inputObject.$error.number && (!inputObject.$pristine || submitted)"
    ) Значение должно быть целым или вещественным числом
    