//-
    Source: auth/views/auth-view.jade 
    Project: dep73-calc
    Description: View for app.auth
    Author: Alexander Tatchin | github.com/sancau

.well
    h3 Расчёт трудоёмкости испытаний

   
    form(
        role="form",
        name="loginForm",
        novalidate="novalidate",
        ng-model="loginForm"
    )

        lc-string-input(
            required="true",
            label="Ваше имя",
            input-id="username",
            input-object="loginForm.username",
            model="auth.form.username",
            submitted="auth.submitted"
        )   
    a
        button.btn.btn-primary(ng-click="auth.login()") Вход
