//-
    Source: calculation/views/climatic-partials/sub-partials/humidity-form.jade 
    Project: dep73-calc
    Description: The form for humidity test calculation 
    Author: Alexander Tatchin | github.com/sancau

.humidity

    lc-numeric-input(
        required="true",
        label="Значение влажности",
        min="10",
        max="98",
        step="1",    
        input-id="humValue",
        input-object="block.climaticForm.humValue",
        submitted="submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество часов",
        min="0",
        step="0.25",    
        input-id="humTime",
        input-object="block.climaticForm.humTime",
        submitted="submitted"
    )