//-
    Source: calculation/views/climatic-partials/sub-partials/temperature-form.jade 
    Project: dep73-calc
    Description: The form for humidity test calculation 
    Author: Alexander Tatchin | github.com/sancau

.temperature
    
    lc-numeric-input(
        required="true",
        label="Рабочая температура",
        min="-70",
        max="180",
        step="1",    
        input-id="workTemp",
        input-object="block.climaticForm.workTemp",
        submitted="submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество часов (рабочая температура)",
        min="0",
        step="0.1", 
        input-id="workTime",
        input-object="block.climaticForm.workTime",
        submitted="submitted"
    )

    lc-numeric-input(
        required="true",
        label="Предельная температура",
        min="-70",
        max="180",
        step="1",   
        input-id="edgeTemp",
        input-object="block.climaticForm.edgeTemp",
        submitted="submitted"
    )

    lc-numeric-input(
        required="true",
        label="Количество часов (предельная температура)",
        min="0",
        step="0.1", 
        input-id="edgeTime",
        input-object="block.climaticForm.edgeTime",
        submitted="submitted"
    )