//-
    Source: auth/views/auth-view.jade 
    Project: dep73-calc
    Description: View for app.auth
    Author: Alexander Tatchin | github.com/sancau

.well

    h3 ЦНИИ РТК | Отдел №73 "Испытательный"
    hr
       
    form(
        role="form",
        name="loginForm",
        novalidate="novalidate",
        ng-model="loginForm"
    )

        lc-string-input(
            required="true",
            label="Имя пользователя",
            input-id="username",
            input-object="loginForm.username",
            model="auth.form.username",
            submitted="auth.submitted"
        )

        lc-string-input(
            type="password",
            required="true",
            label="Пароль",
            input-id="password",
            input-object="loginForm.password",
            model="auth.form.password",
            submitted="auth.submitted"
        )     

    a
        button.btn.btn-primary(ng-click="auth.login()") Вход
