//-
    Source: calculation/views/calculation-view.jade 
    Project: dep73-calc
    Description: View for the calculation module / state: calculation 
    Author: Alexander Tatchin | github.com/sancau

//- Calculation status section
section#status-panel(
    sticky-nav="ng-sticky-behaviour",
    ignore-element-size,
)
    div(ng-controller="StatusCtrl as status")
        h3 Текущий расчёт
        hr
       
        pre Общая информация
        table.table(id = "general-info")            
            tbody
                tr
                    td.info Изделие:
                    td(ng-class="status.activeCalculation.data.general.name ? 'success' : 'danger'") {{ status.activeCalculation.data.general.name }}
                tr
                    td.info Вид испытаний:
                    td(ng-class="status.activeCalculation.data.general.type.label ? 'success' : 'danger'") {{ status.activeCalculation.data.general.type.label }}
                tr
                    td.info Руководящий документ:
                    td(ng-class="status.activeCalculation.data.general.document ? 'success' : 'danger'") {{ status.activeCalculation.data.general.document }}
                tr
                    td.info Комментарий:
                    td(ng-class="status.activeCalculation.data.general.comment ? 'success' : 'warning'") {{ status.activeCalculation.data.general.comment }}
    
        hr
        pre(ng-show="status.activeCalculation.data.climatic.blocks.length") Климатические испытания

        #climatic-info(ng-repeat="block in status.activeCalculation.data.climatic.blocks")
            h5 Блок {{$index + 1}} ({{ block.type.name }})        
            table.table(id = "block-info")          
                tbody
                    tr
                        td.info Суммарная трудоёмкость:
                        td(ng-class="block.totalLabor ? 'success' : 'danger'") {{ block.totalLabor ? block.totalLabor : 'Нет данных' }}


//- Calculation data inputs section
section#forms-panel

    //- Accordion
    uib-accordion(close-others="true")

        //- General information inputs host
        uib-accordion-group(
            heading="Общая информация",
            is-open="generalOpen",
            is-disabled="generalDisabled"
        )
            #general-partial(
                ng-controller="GeneralCtrl"
            )
                #general-form(
                    ng-include="'calculation/views/general-partial/general-form.jade'"
                ) 
                
                //- Save general info changes (logic on GeneralCrtl)
                button(ng-click="saveChanges()") {{ saveChangesButtonContent }}
        
        //- Climatic information inputs host
        uib-accordion-group(
            heading="Климатические испытания",
            is-open="climaticOpen",
            is-disabled="climaticDisabled"
        )
            #climatic-partial(
                ng-include="'calculation/views/climatic-partial/climatic-partial.jade'"
            )
        
        //- Mechanical tests | NOT IMPLEMENTED  
        //- uib-accordion-group(
        //-     heading="Механические испытания",
        //-     is-open="mechanicalOpen",
        //-     is-disabled="mechanicalDisabled"
        //- )
        //-     p Форма для механических испытаний